In [405]:
import pandas as pd
import numpy as np
from pathlib import Path
import requests
from urllib.parse import urlencode
from yarl import URL

## Working on getting data from the AQS API

In [323]:
email = f'winston.degraw@gmail.com'
key = 'carmelswift48'

In [287]:
url = f'https://aqs.epa.gov/data/api/list/countiesByState?email={email}&key={key}&state=37'

In [73]:
url = f'https://aqs.epa.gov/data/api/list/states?email={email}&key={key}'

In [67]:
url = f'https://aqs.epa.gov/data/api/list/parametersByClass?email={email}&key={key}&pc=CRITERIA'

In [288]:
res = requests.get(url)

In [289]:
res.status_code

200

In [290]:
res.json()['Data']

[{'code': '001', 'value_represented': 'Alamance'},
 {'code': '003', 'value_represented': 'Alexander'},
 {'code': '005', 'value_represented': 'Alleghany'},
 {'code': '007', 'value_represented': 'Anson'},
 {'code': '009', 'value_represented': 'Ashe'},
 {'code': '011', 'value_represented': 'Avery'},
 {'code': '013', 'value_represented': 'Beaufort'},
 {'code': '015', 'value_represented': 'Bertie'},
 {'code': '017', 'value_represented': 'Bladen'},
 {'code': '019', 'value_represented': 'Brunswick'},
 {'code': '021', 'value_represented': 'Buncombe'},
 {'code': '023', 'value_represented': 'Burke'},
 {'code': '025', 'value_represented': 'Cabarrus'},
 {'code': '027', 'value_represented': 'Caldwell'},
 {'code': '029', 'value_represented': 'Camden'},
 {'code': '031', 'value_represented': 'Carteret'},
 {'code': '033', 'value_represented': 'Caswell'},
 {'code': '035', 'value_represented': 'Catawba'},
 {'code': '037', 'value_represented': 'Chatham'},
 {'code': '039', 'value_represented': 'Cherokee'},
 {'code': '041', 'value_represented': 'Chowan'},
 {'code': '043', 'value_represented': 'Clay'},
 {'code': '045', 'value_represented': 'Cleveland'},
 {'code': '047', 'value_represented': 'Columbus'},
 {'code': '049', 'value_represented': 'Craven'},
 {'code': '051', 'value_represented': 'Cumberland'},
 {'code': '053', 'value_represented': 'Currituck'},
 {'code': '055', 'value_represented': 'Dare'},
 {'code': '057', 'value_represented': 'Davidson'},
 {'code': '059', 'value_represented': 'Davie'},
 {'code': '061', 'value_represented': 'Duplin'},
 {'code': '063', 'value_represented': 'Durham'},
 {'code': '065', 'value_represented': 'Edgecombe'},
 {'code': '067', 'value_represented': 'Forsyth'},
 {'code': '069', 'value_represented': 'Franklin'},
 {'code': '071', 'value_represented': 'Gaston'},
 {'code': '073', 'value_represented': 'Gates'},
 {'code': '075', 'value_represented': 'Graham'},
 {'code': '077', 'value_represented': 'Granville'},
 {'code': '079', 'value_represented': 'Greene'},
 {'code': '081', 'value_represented': 'Guilford'},
 {'code': '083', 'value_represented': 'Halifax'},
 {'code': '085', 'value_represented': 'Harnett'},
 {'code': '087', 'value_represented': 'Haywood'},
 {'code': '089', 'value_represented': 'Henderson'},
 {'code': '091', 'value_represented': 'Hertford'},
 {'code': '093', 'value_represented': 'Hoke'},
 {'code': '095', 'value_represented': 'Hyde'},
 {'code': '097', 'value_represented': 'Iredell'},
 {'code': '099', 'value_represented': 'Jackson'},
 {'code': '101', 'value_represented': 'Johnston'},
 {'code': '103', 'value_represented': 'Jones'},
 {'code': '105', 'value_represented': 'Lee'},
 {'code': '107', 'value_represented': 'Lenoir'},
 {'code': '109', 'value_represented': 'Lincoln'},
 {'code': '111', 'value_represented': 'McDowell'},
 {'code': '113', 'value_represented': 'Macon'},
 {'code': '115', 'value_represented': 'Madison'},
 {'code': '117', 'value_represented': 'Martin'},
 {'code': '119', 'value_represented': 'Mecklenburg'},
 {'code': '121', 'value_represented': 'Mitchell'},
 {'code': '123', 'value_represented': 'Montgomery'},
 {'code': '125', 'value_represented': 'Moore'},
 {'code': '127', 'value_represented': 'Nash'},
 {'code': '129', 'value_represented': 'New Hanover'},
 {'code': '131', 'value_represented': 'Northampton'},
 {'code': '133', 'value_represented': 'Onslow'},
 {'code': '135', 'value_represented': 'Orange'},
 {'code': '137', 'value_represented': 'Pamlico'},
 {'code': '139', 'value_represented': 'Pasquotank'},
 {'code': '141', 'value_represented': 'Pender'},
 {'code': '143', 'value_represented': 'Perquimans'},
 {'code': '145', 'value_represented': 'Person'},
 {'code': '147', 'value_represented': 'Pitt'},
 {'code': '149', 'value_represented': 'Polk'},
 {'code': '151', 'value_represented': 'Randolph'},
 {'code': '153', 'value_represented': 'Richmond'},
 {'code': '155', 'value_represented': 'Robeson'},
 {'code': '157', 'value_represented': 'Rockingham'},
 {'code': '159', 'value_represented': 'Rowan'},
 {'code': '161', 'value_represented': 'Rutherford'},
 {'code': '163', 'value_represented': 'Sampson'},
 {'code': '165', 'value_represented': 'Scotland'},
 {'code': '167', 'value_represented': 'Stanly'},
 {'code': '169', 'value_represented': 'Stokes'},
 {'code': '171', 'value_represented': 'Surry'},
 {'code': '173', 'value_represented': 'Swain'},
 {'code': '175', 'value_represented': 'Transylvania'},
 {'code': '177', 'value_represented': 'Tyrrell'},
 {'code': '179', 'value_represented': 'Union'},
 {'code': '181', 'value_represented': 'Vance'},
 {'code': '183', 'value_represented': 'Wake'},
 {'code': '185', 'value_represented': 'Warren'},
 {'code': '187', 'value_represented': 'Washington'},
 {'code': '189', 'value_represented': 'Watauga'},
 {'code': '191', 'value_represented': 'Wayne'},
 {'code': '193', 'value_represented': 'Wilkes'},
 {'code': '195', 'value_represented': 'Wilson'},
 {'code': '197', 'value_represented': 'Yadkin'},
 {'code': '199', 'value_represented': 'Yancey'}]

In [74]:
res_states = requests.get(url)

In [76]:
res_states.json()['Data']

[{'code': '01', 'value_represented': 'Alabama'},
 {'code': '02', 'value_represented': 'Alaska'},
 {'code': '04', 'value_represented': 'Arizona'},
 {'code': '05', 'value_represented': 'Arkansas'},
 {'code': '06', 'value_represented': 'California'},
 {'code': '08', 'value_represented': 'Colorado'},
 {'code': '09', 'value_represented': 'Connecticut'},
 {'code': '10', 'value_represented': 'Delaware'},
 {'code': '11', 'value_represented': 'District Of Columbia'},
 {'code': '12', 'value_represented': 'Florida'},
 {'code': '13', 'value_represented': 'Georgia'},
 {'code': '15', 'value_represented': 'Hawaii'},
 {'code': '16', 'value_represented': 'Idaho'},
 {'code': '17', 'value_represented': 'Illinois'},
 {'code': '18', 'value_represented': 'Indiana'},
 {'code': '19', 'value_represented': 'Iowa'},
 {'code': '20', 'value_represented': 'Kansas'},
 {'code': '21', 'value_represented': 'Kentucky'},
 {'code': '22', 'value_represented': 'Louisiana'},
 {'code': '23', 'value_represented': 'Maine'},
 {'code': '24', 'value_represented': 'Maryland'},
 {'code': '25', 'value_represented': 'Massachusetts'},
 {'code': '26', 'value_represented': 'Michigan'},
 {'code': '27', 'value_represented': 'Minnesota'},
 {'code': '28', 'value_represented': 'Mississippi'},
 {'code': '29', 'value_represented': 'Missouri'},
 {'code': '30', 'value_represented': 'Montana'},
 {'code': '31', 'value_represented': 'Nebraska'},
 {'code': '32', 'value_represented': 'Nevada'},
 {'code': '33', 'value_represented': 'New Hampshire'},
 {'code': '34', 'value_represented': 'New Jersey'},
 {'code': '35', 'value_represented': 'New Mexico'},
 {'code': '36', 'value_represented': 'New York'},
 {'code': '37', 'value_represented': 'North Carolina'},
 {'code': '38', 'value_represented': 'North Dakota'},
 {'code': '39', 'value_represented': 'Ohio'},
 {'code': '40', 'value_represented': 'Oklahoma'},
 {'code': '41', 'value_represented': 'Oregon'},
 {'code': '42', 'value_represented': 'Pennsylvania'},
 {'code': '44', 'value_represented': 'Rhode Island'},
 {'code': '45', 'value_represented': 'South Carolina'},
 {'code': '46', 'value_represented': 'South Dakota'},
 {'code': '47', 'value_represented': 'Tennessee'},
 {'code': '48', 'value_represented': 'Texas'},
 {'code': '49', 'value_represented': 'Utah'},
 {'code': '50', 'value_represented': 'Vermont'},
 {'code': '51', 'value_represented': 'Virginia'},
 {'code': '53', 'value_represented': 'Washington'},
 {'code': '54', 'value_represented': 'West Virginia'},
 {'code': '55', 'value_represented': 'Wisconsin'},
 {'code': '56', 'value_represented': 'Wyoming'},
 {'code': '66', 'value_represented': 'Guam'},
 {'code': '72', 'value_represented': 'Puerto Rico'},
 {'code': '78', 'value_represented': 'Virgin Islands'},
 {'code': '80', 'value_represented': 'Country Of Mexico'},
 {'code': 'CC', 'value_represented': 'Canada'}]

In [78]:
res_counties = requests.get(url)

In [228]:
res_counties.json()['Data']

[{'code': '001', 'value_represented': 'Alamance'},
 {'code': '003', 'value_represented': 'Alexander'},
 {'code': '005', 'value_represented': 'Alleghany'},
 {'code': '007', 'value_represented': 'Anson'},
 {'code': '009', 'value_represented': 'Ashe'},
 {'code': '011', 'value_represented': 'Avery'},
 {'code': '013', 'value_represented': 'Beaufort'},
 {'code': '015', 'value_represented': 'Bertie'},
 {'code': '017', 'value_represented': 'Bladen'},
 {'code': '019', 'value_represented': 'Brunswick'},
 {'code': '021', 'value_represented': 'Buncombe'},
 {'code': '023', 'value_represented': 'Burke'},
 {'code': '025', 'value_represented': 'Cabarrus'},
 {'code': '027', 'value_represented': 'Caldwell'},
 {'code': '029', 'value_represented': 'Camden'},
 {'code': '031', 'value_represented': 'Carteret'},
 {'code': '033', 'value_represented': 'Caswell'},
 {'code': '035', 'value_represented': 'Catawba'},
 {'code': '037', 'value_represented': 'Chatham'},
 {'code': '039', 'value_represented': 'Cherokee'},
 {'code': '041', 'value_represented': 'Chowan'},
 {'code': '043', 'value_represented': 'Clay'},
 {'code': '045', 'value_represented': 'Cleveland'},
 {'code': '047', 'value_represented': 'Columbus'},
 {'code': '049', 'value_represented': 'Craven'},
 {'code': '051', 'value_represented': 'Cumberland'},
 {'code': '053', 'value_represented': 'Currituck'},
 {'code': '055', 'value_represented': 'Dare'},
 {'code': '057', 'value_represented': 'Davidson'},
 {'code': '059', 'value_represented': 'Davie'},
 {'code': '061', 'value_represented': 'Duplin'},
 {'code': '063', 'value_represented': 'Durham'},
 {'code': '065', 'value_represented': 'Edgecombe'},
 {'code': '067', 'value_represented': 'Forsyth'},
 {'code': '069', 'value_represented': 'Franklin'},
 {'code': '071', 'value_represented': 'Gaston'},
 {'code': '073', 'value_represented': 'Gates'},
 {'code': '075', 'value_represented': 'Graham'},
 {'code': '077', 'value_represented': 'Granville'},
 {'code': '079', 'value_represented': 'Greene'},
 {'code': '081', 'value_represented': 'Guilford'},
 {'code': '083', 'value_represented': 'Halifax'},
 {'code': '085', 'value_represented': 'Harnett'},
 {'code': '087', 'value_represented': 'Haywood'},
 {'code': '089', 'value_represented': 'Henderson'},
 {'code': '091', 'value_represented': 'Hertford'},
 {'code': '093', 'value_represented': 'Hoke'},
 {'code': '095', 'value_represented': 'Hyde'},
 {'code': '097', 'value_represented': 'Iredell'},
 {'code': '099', 'value_represented': 'Jackson'},
 {'code': '101', 'value_represented': 'Johnston'},
 {'code': '103', 'value_represented': 'Jones'},
 {'code': '105', 'value_represented': 'Lee'},
 {'code': '107', 'value_represented': 'Lenoir'},
 {'code': '109', 'value_represented': 'Lincoln'},
 {'code': '111', 'value_represented': 'McDowell'},
 {'code': '113', 'value_represented': 'Macon'},
 {'code': '115', 'value_represented': 'Madison'},
 {'code': '117', 'value_represented': 'Martin'},
 {'code': '119', 'value_represented': 'Mecklenburg'},
 {'code': '121', 'value_represented': 'Mitchell'},
 {'code': '123', 'value_represented': 'Montgomery'},
 {'code': '125', 'value_represented': 'Moore'},
 {'code': '127', 'value_represented': 'Nash'},
 {'code': '129', 'value_represented': 'New Hanover'},
 {'code': '131', 'value_represented': 'Northampton'},
 {'code': '133', 'value_represented': 'Onslow'},
 {'code': '135', 'value_represented': 'Orange'},
 {'code': '137', 'value_represented': 'Pamlico'},
 {'code': '139', 'value_represented': 'Pasquotank'},
 {'code': '141', 'value_represented': 'Pender'},
 {'code': '143', 'value_represented': 'Perquimans'},
 {'code': '145', 'value_represented': 'Person'},
 {'code': '147', 'value_represented': 'Pitt'},
 {'code': '149', 'value_represented': 'Polk'},
 {'code': '151', 'value_represented': 'Randolph'},
 {'code': '153', 'value_represented': 'Richmond'},
 {'code': '155', 'value_represented': 'Robeson'},
 {'code': '157', 'value_represented': 'Rockingham'},
 {'code': '159', 'value_represented': 'Rowan'},
 {'code': '161', 'value_represented': 'Rutherford'},
 {'code': '163', 'value_represented': 'Sampson'},
 {'code': '165', 'value_represented': 'Scotland'},
 {'code': '167', 'value_represented': 'Stanly'},
 {'code': '169', 'value_represented': 'Stokes'},
 {'code': '171', 'value_represented': 'Surry'},
 {'code': '173', 'value_represented': 'Swain'},
 {'code': '175', 'value_represented': 'Transylvania'},
 {'code': '177', 'value_represented': 'Tyrrell'},
 {'code': '179', 'value_represented': 'Union'},
 {'code': '181', 'value_represented': 'Vance'},
 {'code': '183', 'value_represented': 'Wake'},
 {'code': '185', 'value_represented': 'Warren'},
 {'code': '187', 'value_represented': 'Washington'},
 {'code': '189', 'value_represented': 'Watauga'},
 {'code': '191', 'value_represented': 'Wayne'},
 {'code': '193', 'value_represented': 'Wilkes'},
 {'code': '195', 'value_represented': 'Wilson'},
 {'code': '197', 'value_represented': 'Yadkin'},
 {'code': '199', 'value_represented': 'Yancey'}]

In [346]:
def get_state_codes(email, key):
    '''
    Queries AQS to get the list of state codes
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/states'
    params = {
        'email' : email,
        'key'   : key  
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts['code']
    else:
        print(f'status: {res.status_code}')

In [392]:
state_codes = get_state_codes(email,key)

In [339]:
def get_county_codes(email, key, state):
    '''
    Queries AQS to get the list of county codes for the given state
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/countiesByState'
    params = {
        'email' : email,
        'key'   : key  ,
        'state' : state
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts['code']
    else:
        print(f'status: {res.status_code}')

In [376]:
def get_param_class_codes(email, key):
    '''
    Queries AQS to get the codes representing the classes of measured air pollutants
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/classes'
    params = {
        'email' : email,
        'key'   : key  
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts
    else:
        print(f'status: {res.status_code}')

In [ ]:
get_param_class_codes(email,key)

                       code                                  value_represented
0               AIRNOW MAPS  The parameters represented on AirNow maps (881...
1                       ALL                    Select all Parameters Available
2            AQI POLLUTANTS                Pollutants that have an AQI Defined
3                 CORE_HAPS                         Urban Air Toxic Pollutants
4                  CRITERIA                                Criteria Pollutants
5                  CSN DART  List of CSN speciation parameters to populate ...
6                  FORECAST     Parameters routinely extracted by AirNow (STI)
7                      HAPS                           Hazardous Air Pollutants
8            IMPROVE CARBON                          IMPROVE Carbon Parameters
9        IMPROVE_SPECIATION  PM2.5 Speciated Parameters Measured at IMPROVE...
10                      MET                          Meteorological Parameters
11          NATTS CORE HAPS  The core list of toxics of interest to the NAT...
12           NATTS REQUIRED  Required compounds to be collected in the Nati...
13                     PAMS         Photochemical Assessment Monitoring System
14                 PAMS_VOC  Volatile Organic Compound subset of the PAMS P...
15                PM COARSE                  PM between 2.5 and 10 micrometers
16          PM10 SPECIATION                          PM10 Speciated Parameters
17        PM2.5 CONT NONREF             PM2.5 Continuous, Nonreference Methods
18            PM2.5 MASS/QA                       PM2.5 Mass and QA Parameters
19        SCHOOL AIR TOXICS               School Air Toxics Program Parameters
20               SPECIATION                         PM2.5 Speciated Parameters
21        SPECIATION CARBON                 PM2.5 Speciation Carbon Parameters
22  SPECIATION CATION/ANION           PM2.5 Speciation Cation/Anion Parameters
23        SPECIATION METALS                  PM2.5 Speciation Metal Parameters
24           UATMP CARBONYL      Urban Air Toxics Monitoring Program Carbonyls
25                UATMP VOC           Urban Air Toxics Monitoring Program VOCs
26                      VOC                         Volatile organic compounds

In [399]:
def get_param_codes_by_class(email, key, pc):
    '''
    Queries AQS to get the codes representing the parameters in parameter class (pc)
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/parametersByClass'
    params = {
        'email' : email,
        'key'   : key  ,
        'pc'    : pc
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts['code']
    else:
        print(f'status: {res.status_code}')

In [400]:
param_codes = get_param_codes_by_class(email, key, 'CRITERIA')

In [353]:
def aqs_api_annual_county(email, key, param, bdate, edate, state, county):
    '''
    Query the AQS API to get the annual summary data for the given parameter, state, county
    bdate and edate have to be in the same year for the request to work
    '''
    base_url = 'https://aqs.epa.gov/data/api/annualData/byCounty'
    params = {
        'email' : email,
        'key'   : key  ,
        'param' : param,
        'bdate' : bdate,
        'edate' : edate,
        'state' : state,
        'county': county
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)
    
    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts
    else:
        print(f'status: {res.status_code}')

In [414]:
data = aqs_api_annual_county(email, key, '88502', '20100101', '20101231', '39', '001')

In [415]:
data

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration_code,...,fiftieth_percentile,tenth_percentile,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,39,001,0001,88502,3,38.79471,-83.53398,NAD83,Acceptable PM2.5 AQI & Speciation Mass,1,...,11.8,1.6,West Union,210 N. WILSON DR.,Ohio,Adams,West Union,None,None,2020-05-21
1,39,001,0001,88502,3,38.79471,-83.53398,NAD83,Acceptable PM2.5 AQI & Speciation Mass,X,...,12.5,7.5,West Union,210 N. WILSON DR.,Ohio,Adams,West Union,None,None,2020-05-21

#### Now going to try to loop over all states, for each state loop over each year, for each year loop over each parameter, and for each parameter loop over each county in the state to gather the data for that county. Will have to query AQS for each state to get the county codes.

In [413]:
years = np.arange(2005, 2022).astype(str)
years

array(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021'], dtype='<U21')

In [ ]:
data_list = []
for state in state_codes:
    for year in years:
        print('--------------------')
        print(f'Collecting data for state {state} in year {year}')
        print('--------------------')
        for param in param_codes:
            county_codes = get_county_codes(email,key,state)
            for county in county_codes:
                data_list.append( aqs_api_annual_county(email, key, param, year+'0101', year+'1231', state, county) )

--------------------
Collecting data for state 01 in year 2005
--------------------
--------------------
Collecting data for state 01 in year 2006
--------------------

In [ ]:
url = f'https://aqs.epa.gov/data/api/annualData/byCounty?\
email={email}&key={key}&param=88101,88502&bdate=20160101&edate=20160229&state=37&county=183'

In [22]:
lbw = pd.read_csv('data/Natality_by_year_2007-2021.txt', sep="\t")
lbw.columns = [col.lower().replace(' ', '_') for col in lbw.columns]

In [29]:
lbw.drop(columns='notes').dropna().sort_values(by='year', ascending=False)

,state,state_code,county,county_code,infant_birth_weight_12,infant_birth_weight_12_code,year,year_code,births,%_of_total_births,average_birth_weight,average_lmp_gestational_age,average_oe_gestational_age
21213,Wyoming,56.0,"Unidentified Counties, WY",56999.0,2000 - 2499 grams,5.0,2021.0,2021.0,230.0,0.01%,2303.27,36.19,36.30
11144,Missouri,29.0,"St. Charles County, MO",29183.0,2000 - 2499 grams,5.0,2021.0,2021.0,94.0,0.00%,2324.00,36.36,35.80
11120,Missouri,29.0,"St. Charles County, MO",29183.0,1000 - 1499 grams,3.0,2021.0,2021.0,20.0,0.00%,1277.05,30.30,30.05
1955,California,6.0,"San Diego County, CA",6073.0,1000 - 1499 grams,3.0,2021.0,2021.0,143.0,0.01%,1277.10,30.43,30.19
11108,Missouri,29.0,"St. Charles County, MO",29183.0,500 - 999 grams,2.0,2021.0,2021.0,10.0,0.00%,753.10,30.00,25.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7788,Iowa,19.0,"Unidentified Counties, IA",19999.0,500 - 999 grams,2.0,2007.0,2007.0,48.0,0.00%,785.85,26.13,25.72
15709,Ohio,39.0,"Warren County, OH",39165.0,1500 - 1999 grams,4.0,2007.0,2007.0,19.0,0.00%,1774.05,33.26,32.89
19108,Texas,48.0,"Travis County, TX",48453.0,500 - 999 grams,2.0,2007.0,2007.0,71.0,0.00%,759.96,25.44,25.31
15704,Ohio,39.0,"Warren County, OH",39165.0,1000 - 1499 grams,3.0,2007.0,2007.0,15.0,0.00%,1188.47,31.20,29.80
15722,Ohio,39.0,"Warren County, OH",39165.0,2000 - 2499 grams,5.0,2007.0,2007.0,63.0,0.00%,2279.27,35.51,35.51

In [48]:
from pathlib import Path
data_path = Path('data/')
aqi_files = [file for file in data_path.glob('*aqi*') if file.is_file()]
aqi_files.sort()
aqi = pd.read_csv(aqi_files[0])
for file in aqi_files[1:]:
    aqi = pd.concat([aqi, pd.read_csv(file)])
aqi.columns = [col.lower().replace(' ', '_') for col in aqi.columns]
aqi.to_csv('data/aqi_by_year_2006-2021.csv', index=False)

In [49]:
aqi.sort_values(by='days_with_aqi').sample(50)

,state,county,year,days_with_aqi,good_days,moderate_days,unhealthy_for_sensitive_groups_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_percentile_aqi,median_aqi,days_co,days_no2,days_ozone,days_pm2.5,days_pm10
798,Pennsylvania,Northampton,2011,365,165,189,9,2,0,0,152,84,53,0,9,89,264,3
395,Maryland,Harford,2019,359,261,89,9,0,0,0,133,71,44,0,0,231,128,0
81,California,Napa,2010,365,293,70,1,1,0,0,159,60,39,0,3,184,178,0
853,South Carolina,Greenville,2006,365,118,240,5,2,0,0,159,82,59,0,16,0,348,1
279,Indiana,Henry,2016,119,106,13,0,0,0,0,65,51,28,0,0,0,119,0
775,Pennsylvania,Luzerne,2012,366,329,35,2,0,0,0,129,51,33,0,0,348,0,18
262,Illinois,McHenry,2009,365,242,123,0,0,0,0,100,67,43,0,0,174,191,0
98,California,Ventura,2021,365,208,147,10,0,0,0,122,78,48,0,0,278,75,12
402,Maine,Knox,2007,179,151,22,4,2,0,0,177,71,34,0,0,179,0,0
300,Iowa,Pottawattamie,2021,124,100,23,1,0,0,0,117,57,33,0,0,0,120,4
419,Maryland,Washington,2011,348,209,133,6,0,0,0,147,73,47,0,0,120,228,0
478,Minnesota,Mille Lacs,2009,233,210,23,0,0,0,0,91,50,31,0,0,169,64,0
386,Maine,Washington,2013,362,348,13,1,0,0,0,129,44,34,0,0,356,6,0
849,Tennessee,Sullivan,2012,366,295,61,9,1,0,0,187,64,38,5,121,240,0,0
646,North Dakota,Ward,2018,360,328,29,3,0,0,0,112,49,31,0,0,224,124,12
479,Minnesota,Cass,2006,59,53,6,0,0,0,0,76,52,20,0,0,0,59,0
126,Colorado,Park,2016,366,270,93,3,0,0,0,133,64,47,0,0,364,1,1
769,Pennsylvania,Adams,2011,362,192,165,5,0,0,0,140,72,48,1,1,154,206,0
356,Kentucky,Jefferson,2011,365,195,145,22,3,0,0,177,87,49,0,0,182,180,3
356,Kentucky,Perry,2015,361,316,45,0,0,0,0,82,51,36,0,0,167,194,0
60,California,Glenn,2013,361,244,116,1,0,0,0,101,64,44,0,0,207,154,0
581,New York,Suffolk,2021,365,317,37,10,1,0,0,154,58,39,0,1,298,66,0
949,Virginia,Wythe,2013,213,205,8,0,0,0,0,87,47,39,0,0,213,0,0
936,Texas,Tarrant,2006,365,177,136,32,18,2,0,202,126,51,0,50,189,126,0
86,California,San Luis Obispo,2018,365,202,154,9,0,0,0,133,74,49,0,0,234,92,39
1010,Washington,Grays Harbor,2006,365,339,26,0,0,0,0,82,40,18,0,0,0,365,0
896,Utah,Tooele,2017,365,237,111,17,0,0,0,147,80,45,0,0,288,77,0
846,Tennessee,Montgomery,2015,356,299,57,0,0,0,0,71,54,33,0,0,0,347,9
386,Louisiana,Pointe Coupee,2007,361,282,63,15,1,0,0,154,84,40,0,0,361,0,0
795,Pennsylvania,Greene,2010,213,146,58,9,0,0,0,150,80,45,0,0,213,0,0
408,Maryland,Calvert,2011,209,148,47,11,3,0,0,169,84,44,0,0,209,0,0
689,Ohio,Portage,2014,242,210,32,0,0,0,0,87,56,36,0,0,183,59,0
732,Oklahoma,Canadian,2010,365,310,51,4,0,0,0,112,61,37,0,0,365,0,0
692,Ohio,Summit,2013,365,308,55,2,0,0,0,146,56,31,101,0,162,102,0
911,Vermont,Bennington,2015,365,318,47,0,0,0,0,97,52,37,0,0,278,87,0
1015,West Virginia,Hancock,2010,365,256,99,10,0,0,0,143,75,41,3,0,183,81,98
160,Florida,Brevard,2010,365,286,79,0,0,0,0,87,58,43,0,0,233,132,0
606,New York,Albany,2008,366,248,111,6,1,0,0,156,68,43,0,0,152,214,0
647,Ohio,Jefferson,2021,358,199,156,2,1,0,0,155,71,47,0,0,89,269,0
616,North Carolina,Guilford,2018,355,280,74,1,0,0,0,105,62,40,0,0,211,128,16
524,Nevada,Clark,2019,365,154,206,5,0,0,0,122,87,54,1,20,252,84,8
774,Pennsylvania,Philadelphia,2017,365,190,163,10,2,0,0,166,71,50,0,8,136,220,1
206,Georgia,DeKalb,2011,365,163,184,16,2,0,0,172,84,52,0,22,109,234,0
772,Pennsylvania,Washington,2018,365,233,130,2,0,0,0,105,64,45,0,1,184,180,0
908,Virginia,Albemarle,2017,347,317,30,0,0,0,0,80,50,37,0,0,215,132,0
285,Indiana,Howard,2010,112,67,44,1,0,0,0,113,79,43,0,0,0,112,0
42,Arkansas,Crittenden,2015,365,308,56,1,0,0,0,101,58,36,0,23,291,51,0
364,Maine,Aroostook,2021,365,341,22,1,1,0,0,174,47,33,0,0,254,101,10
280,Indiana,Howard,2016,325,243,82,0,0,0,0,81,58,36,0,0,0,325,0
442,Michigan,Muskegon,2016,178,138,33,5,2,0,0,159,71,41,0,0,178,0,0

In [408]:
aqi['year'].value_counts()

2006    1091
2007    1082
2008    1077
2009    1077
2010    1076
2011    1071
2012    1050
2013    1044
2015    1042
2014    1036
2016    1030
2017    1029
2018    1021
2019    1020
2020    1003
2021    1002
Name: year, dtype: int64