In [80]:
import pandas as pd
import numpy as np
from pathlib import Path
import requests
from urllib.parse import urlencode
from yarl import URL
from time import sleep

In [2]:
lbw = pd.read_csv('data/Natality_by_year_2007-2021.txt', sep="\t")
lbw.columns = [col.lower().replace(' ', '_') for col in lbw.columns]

In [3]:
lbw.drop(columns='notes').dropna().sort_values(by='year', ascending=False)

,state,state_code,county,county_code,infant_birth_weight_12,infant_birth_weight_12_code,year,year_code,births,%_of_total_births,average_birth_weight,average_lmp_gestational_age,average_oe_gestational_age
21213,Wyoming,56.0,"Unidentified Counties, WY",56999.0,2000 - 2499 grams,5.0,2021.0,2021.0,230.0,0.01%,2303.27,36.19,36.30
11144,Missouri,29.0,"St. Charles County, MO",29183.0,2000 - 2499 grams,5.0,2021.0,2021.0,94.0,0.00%,2324.00,36.36,35.80
11120,Missouri,29.0,"St. Charles County, MO",29183.0,1000 - 1499 grams,3.0,2021.0,2021.0,20.0,0.00%,1277.05,30.30,30.05
1955,California,6.0,"San Diego County, CA",6073.0,1000 - 1499 grams,3.0,2021.0,2021.0,143.0,0.01%,1277.10,30.43,30.19
11108,Missouri,29.0,"St. Charles County, MO",29183.0,500 - 999 grams,2.0,2021.0,2021.0,10.0,0.00%,753.10,30.00,25.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7788,Iowa,19.0,"Unidentified Counties, IA",19999.0,500 - 999 grams,2.0,2007.0,2007.0,48.0,0.00%,785.85,26.13,25.72
15709,Ohio,39.0,"Warren County, OH",39165.0,1500 - 1999 grams,4.0,2007.0,2007.0,19.0,0.00%,1774.05,33.26,32.89
19108,Texas,48.0,"Travis County, TX",48453.0,500 - 999 grams,2.0,2007.0,2007.0,71.0,0.00%,759.96,25.44,25.31
15704,Ohio,39.0,"Warren County, OH",39165.0,1000 - 1499 grams,3.0,2007.0,2007.0,15.0,0.00%,1188.47,31.20,29.80
15722,Ohio,39.0,"Warren County, OH",39165.0,2000 - 2499 grams,5.0,2007.0,2007.0,63.0,0.00%,2279.27,35.51,35.51

In [ ]:
data_path = Path('data/')
aqi_files = [file for file in data_path.glob('*aqi*') if file.is_file()]
aqi_files.sort()
aqi = pd.read_csv(aqi_files[0])
for file in aqi_files[1:]:
    aqi = pd.concat([aqi, pd.read_csv(file)])
aqi.columns = [col.lower().replace(' ', '_') for col in aqi.columns]
aqi.to_csv('data/aqi_by_year_2006-2021.csv', index=False)

In [ ]:
aqi.sort_values(by='days_with_aqi').sample(50)

In [ ]:
aqi['year'].value_counts()

## Getting data from the AQS API

In [62]:
email = f'winston.degraw@gmail.com'
key = 'carmelswift48'

In [63]:
def get_state_codes(email, key):
    '''
    Queries AQS to get the list of state codes
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/states'
    params = {
        'email' : email,
        'key'   : key  
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts
    else:
        print(f'status: {res.status_code}')
    return None

#### Only need to query the state list once, so storing it to a variable to loop over.

In [64]:
state_codes = get_state_codes(email,key)
state_codes

   code     value_represented
0    01               Alabama
1    02                Alaska
2    04               Arizona
3    05              Arkansas
4    06            California
5    08              Colorado
6    09           Connecticut
7    10              Delaware
8    11  District Of Columbia
9    12               Florida
10   13               Georgia
11   15                Hawaii
12   16                 Idaho
13   17              Illinois
14   18               Indiana
15   19                  Iowa
16   20                Kansas
17   21              Kentucky
18   22             Louisiana
19   23                 Maine
20   24              Maryland
21   25         Massachusetts
22   26              Michigan
23   27             Minnesota
24   28           Mississippi
25   29              Missouri
26   30               Montana
27   31              Nebraska
28   32                Nevada
29   33         New Hampshire
30   34            New Jersey
31   35            New Mexico
32   36              New York
33   37        North Carolina
34   38          North Dakota
35   39                  Ohio
36   40              Oklahoma
37   41                Oregon
38   42          Pennsylvania
39   44          Rhode Island
40   45        South Carolina
41   46          South Dakota
42   47             Tennessee
43   48                 Texas
44   49                  Utah
45   50               Vermont
46   51              Virginia
47   53            Washington
48   54         West Virginia
49   55             Wisconsin
50   56               Wyoming
51   66                  Guam
52   72           Puerto Rico
53   78        Virgin Islands
54   80     Country Of Mexico
55   CC                Canada

In [65]:
def get_county_codes(email, key, state):
    '''
    Queries AQS to get the list of county codes for the given state
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/countiesByState'
    params = {
        'email' : email,
        'key'   : key  ,
        'state' : state
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts['code']
    else:
        print(f'status: {res.status_code}')
    return None

In [66]:
def get_param_class_codes(email, key):
    '''
    Queries AQS to get the codes representing the classes of measured air pollutants
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/classes'
    params = {
        'email' : email,
        'key'   : key  
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts
    else:
        print(f'status: {res.status_code}')
    return None

In [67]:
get_param_class_codes(email,key)

                       code                                  value_represented
0               AIRNOW MAPS  The parameters represented on AirNow maps (881...
1                       ALL                    Select all Parameters Available
2            AQI POLLUTANTS                Pollutants that have an AQI Defined
3                 CORE_HAPS                         Urban Air Toxic Pollutants
4                  CRITERIA                                Criteria Pollutants
5                  CSN DART  List of CSN speciation parameters to populate ...
6                  FORECAST     Parameters routinely extracted by AirNow (STI)
7                      HAPS                           Hazardous Air Pollutants
8            IMPROVE CARBON                          IMPROVE Carbon Parameters
9        IMPROVE_SPECIATION  PM2.5 Speciated Parameters Measured at IMPROVE...
10                      MET                          Meteorological Parameters
11          NATTS CORE HAPS  The core list of toxics of interest to the NAT...
12           NATTS REQUIRED  Required compounds to be collected in the Nati...
13                     PAMS         Photochemical Assessment Monitoring System
14                 PAMS_VOC  Volatile Organic Compound subset of the PAMS P...
15                PM COARSE                  PM between 2.5 and 10 micrometers
16          PM10 SPECIATION                          PM10 Speciated Parameters
17        PM2.5 CONT NONREF             PM2.5 Continuous, Nonreference Methods
18            PM2.5 MASS/QA                       PM2.5 Mass and QA Parameters
19        SCHOOL AIR TOXICS               School Air Toxics Program Parameters
20               SPECIATION                         PM2.5 Speciated Parameters
21        SPECIATION CARBON                 PM2.5 Speciation Carbon Parameters
22  SPECIATION CATION/ANION           PM2.5 Speciation Cation/Anion Parameters
23        SPECIATION METALS                  PM2.5 Speciation Metal Parameters
24           UATMP CARBONYL      Urban Air Toxics Monitoring Program Carbonyls
25                UATMP VOC           Urban Air Toxics Monitoring Program VOCs
26                      VOC                         Volatile organic compounds

#### The `CRITERIA` class seems to be the suggested parameter class, so going to use that (`AQI POLLUTANTS` contains basically the same info, but with some aggregate stats as well that we don't want)

In [68]:
def get_param_codes_by_class(email, key, pc):
    '''
    Queries AQS to get the codes representing the parameters in parameter class (pc)
    '''
    base_url = 'https://aqs.epa.gov/data/api/list/parametersByClass'
    params = {
        'email' : email,
        'key'   : key  ,
        'pc'    : pc
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=True)
    res = requests.get(url)

    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts['code']
    else:
        print(f'status: {res.status_code}')
    return None

#### Also only need to get this once, so storing it to a variable

In [93]:
param_codes = get_param_codes_by_class(email, key, 'CRITERIA').astype(str)
params_1 = ','.join(param_codes[:4].values)
params_2 = ','.join(param_codes[4:].values)
params = [params_1, params_2]

In [94]:
def aqs_api_annual_county(email, key, param, bdate, edate, state, county):
    '''
    Query the AQS API to get the annual summary data for the given parameter, state, county
    bdate and edate have to be in the same year for the request to work
    '''
    base_url = 'https://aqs.epa.gov/data/api/annualData/byCounty'
    params = {
        'email' : email,
        'key'   : key  ,
        'param' : param,
        'bdate' : bdate,
        'edate' : edate,
        'state' : state,
        'county': county
    }
    
    url = URL('?'.join([base_url, urlencode(params)]), encoded=False)
    res = requests.get(url)
    
    if res.status_code == 200:
        posts = pd.DataFrame(res.json()['Data'])
        return posts
    else:
        print(f'status: {res.status_code}')
        print(res.json())
    return None

### Now going to try to loop over all states, for each state loop over each year, for each year loop over each parameter, and for each parameter loop over each county in the state to gather the data for that county. Will have to query AQS for each state to get the county codes.

In [95]:
# put in beginning year, end year + 1
years = np.arange(2006, 2007).astype(str)
years

array(['2006'], dtype='<U21')

In [96]:
data_list = []
for state_code, state in state_codes.values[:1]:
# Query for county codes at the top to avoid repeated queries
    county_codes = get_county_codes(email,key,state_code)
    for year in years:
        print('--------------------')
        print(f'Collecting data for state {state} in year {year}')
        print('--------------------')
        for county in county_codes:
            for param in params:
                data_list.append( aqs_api_annual_county(email, key, param, year+'0101', year+'1231', state_code, county) )

--------------------
Collecting data for state Alabama in year 2006
--------------------

In [98]:
data = pd.concat(data_list, ignore_index=True)
data

,state_code,county_code,site_number,parameter_code,poc,latitude,longitude,datum,parameter,sample_duration_code,...,fiftieth_percentile,tenth_percentile,local_site_name,site_address,state,county,city,cbsa_code,cbsa,date_of_last_change
0,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,1,...,0.056,0.035,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,19300,"Daphne-Fairhope-Foley, AL",2021-12-21
1,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,W,...,0.050,0.031,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,19300,"Daphne-Fairhope-Foley, AL",2021-12-21
2,01,003,0010,44201,1,30.497478,-87.880258,NAD83,Ozone,W,...,0.050,0.031,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,19300,"Daphne-Fairhope-Foley, AL",2021-12-21
3,01,003,0010,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,7,...,10.400,5.000,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,19300,"Daphne-Fairhope-Foley, AL",2023-01-09
4,01,003,0010,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,7,...,10.400,5.000,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,19300,"Daphne-Fairhope-Foley, AL",2023-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,01,127,0002,88101,1,33.832885,-87.272505,NAD83,PM2.5 - Local Conditions,7,...,13.100,5.700,JASPER,HIGHLAND AVE. AND 17TH ST. EAST,Alabama,Walker,Jasper,13820,"Birmingham-Hoover, AL",2021-11-09
392,01,127,0002,88101,1,33.832885,-87.272505,NAD83,PM2.5 - Local Conditions,7,...,13.100,5.700,JASPER,HIGHLAND AVE. AND 17TH ST. EAST,Alabama,Walker,Jasper,13820,"Birmingham-Hoover, AL",2021-11-09
393,01,127,0002,88101,1,33.832885,-87.272505,NAD83,PM2.5 - Local Conditions,7,...,13.100,5.700,JASPER,HIGHLAND AVE. AND 17TH ST. EAST,Alabama,Walker,Jasper,13820,"Birmingham-Hoover, AL",2021-11-09
394,01,127,0002,88101,1,33.832885,-87.272505,NAD83,PM2.5 - Local Conditions,7,...,13.100,5.700,JASPER,HIGHLAND AVE. AND 17TH ST. EAST,Alabama,Walker,Jasper,13820,"Birmingham-Hoover, AL",2021-11-09
395,01,127,0002,88101,1,33.832885,-87.272505,NAD83,PM2.5 - Local Conditions,7,...,13.100,5.700,JASPER,HIGHLAND AVE. AND 17TH ST. EAST,Alabama,Walker,Jasper,13820,"Birmingham-Hoover, AL",2021-11-09

In [99]:
data.to_csv('data/AQS_data_test_Alabama_2006.csv', index=False)

## Time to see what kind of cleaning to expect from the AQS data

In [48]:
aqs = pd.read_csv('data/AQS_data_test_Alabama_2006.csv')

In [87]:
aqs['parameter_code'].unique()

KeyError: 'parameter_code'

#### Many, many useless columns, going to start with deleting these
#### Begin with everything up to longitude

In [52]:
aqs.columns[:7]

Index(['state_code', 'county_code', 'site_number', 'parameter_code', 'poc',
       'latitude', 'longitude'],
      dtype='object')

In [54]:
aqs.drop(aqs.columns[:7], axis=1, inplace=True)

In [56]:
aqs.columns

Index(['datum', 'parameter', 'sample_duration_code', 'sample_duration',
       'pollutant_standard', 'metric_used', 'method', 'year',
       'units_of_measure', 'event_type', 'observation_count',
       'observation_percent', 'validity_indicator', 'valid_day_count',
       'required_day_count', 'exceptional_data_count',
       'null_observation_count', 'primary_exceedance_count',
       'secondary_exceedance_count', 'certification_indicator',
       'arithmetic_mean', 'standard_deviation', 'first_max_value',
       'first_max_datetime', 'second_max_value', 'second_max_datetime',
       'third_max_value', 'third_max_datetime', 'fourth_max_value',
       'fourth_max_datetime', 'first_max_nonoverlap_value',
       'first_max_n_o_datetime', 'second_max_nonoverlap_value',
       'second_max_n_o_datetime', 'ninety_ninth_percentile',
       'ninety_eighth_percentile', 'ninety_fifth_percentile',
       'ninetieth_percentile', 'seventy_fifth_percentile',
       'fiftieth_percentile', 'tenth_percentile', 'local_site_name',
       'site_address', 'state', 'county', 'city', 'cbsa_code', 'cbsa',
       'date_of_last_change'],
      dtype='object')

#### `state` and `county` are what we will ultimately want to combine the data from the CDC on, so `city`, `cbsa*` are unecessary

In [59]:
aqs.drop(aqs.columns[-4:],axis=1, inplace=True)

In [60]:
aqs.drop(['local_site_name','site_address'], axis=1, inplace=True)

In [61]:
aqs.columns

Index(['datum', 'parameter', 'sample_duration_code', 'sample_duration',
       'pollutant_standard', 'metric_used', 'method', 'year',
       'units_of_measure', 'event_type', 'observation_count',
       'observation_percent', 'validity_indicator', 'valid_day_count',
       'required_day_count', 'exceptional_data_count',
       'null_observation_count', 'primary_exceedance_count',
       'secondary_exceedance_count', 'certification_indicator',
       'arithmetic_mean', 'standard_deviation', 'first_max_value',
       'first_max_datetime', 'second_max_value', 'second_max_datetime',
       'third_max_value', 'third_max_datetime', 'fourth_max_value',
       'fourth_max_datetime', 'first_max_nonoverlap_value',
       'first_max_n_o_datetime', 'second_max_nonoverlap_value',
       'second_max_n_o_datetime', 'ninety_ninth_percentile',
       'ninety_eighth_percentile', 'ninety_fifth_percentile',
       'ninetieth_percentile', 'seventy_fifth_percentile',
       'fiftieth_percentile', 'tenth_percentile', 'state', 'county'],
      dtype='object')